*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.App{
  /* min-width: 100vw; */
  min-height: 100vh;
  background-image: url('./image/bg-pic.jpg');
  background-position: center;
  background-size: cover;
}

/*--- header ---*/
.logo{
  width: 50px;
  height: 50px;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  /* margin-bottom: 3rem; */
}

.nav-unorder{
  display: flex;
}

.nav-list{
  list-style-type: none;
  padding: 1.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

/*--- option area ---*/
.options{
  /* margin-top: 2rem; */
  max-width: 960px;
  margin: 2rem auto 0 auto;
}

.option-area{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 3em; */
}

.option-wrapper{
  margin: 0 1rem;
}

.title{
  padding: 1rem 1rem 0 1rem;
  margin: 0;
  font-size: 2rem;
}

.option-section{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

.selected{
  background-color: rgba(0, 0, 0, 0.1); 
}

.display-opt,
.display-left-option,
.display-right-option{
  /* width: 18em; */
  border: 5px solid rgb(221, 221, 221);
  border-radius: 5px;
  padding: 0.5rem 0.16rem;
  font-size: 1.6rem;
  margin: 0.8rem 0 1.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(224, 224, 224, 0.5);
}

.display-left-option,
.display-right-option{
  cursor: pointer;
}

.display-outside-wrapper{
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  align-items: center;
}

.flag,
.left-flag,
.right-flag{
  font-size: 2.6rem;
}

/* .default-option{
  padding-left: 1.5rem;
  font-size: 1rem;
} */

.update-option{
  font-size: 1.6rem;
}

#show-btn-left,
#show-btn-right{
  cursor: pointer;
}

.left-options-wrapper,
.right-options-wrapper{
  width: 28.6rem;
  height: 14.2rem;
  border: 1px solid black;
  overflow: scroll;
  font-size: 1.6rem;
  display: none;
  cursor: pointer;
}

.showLeft,
.showRight{
  display: block;
  position: absolute;
  top: 65px;
  z-index: 1;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(224, 224, 224, 0.5);
}

.country-codes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 1rem;
}

.country-codes:hover{
  background-color: rgba(224, 224, 224, 0.5);
}

.transfer{
  border-radius: 50%;
  padding: 3rem;
  border: 1px solid lightgray;
  background-color: white;
  background-image: url('./image/arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: 2rem; */
  cursor: pointer;
}

/*--- display amount ---*/
.amount-wrapper{
  border-bottom: 1px solid black;
  padding: 1.2rem 0 1.2rem 2.4rem;
  font-size: 1.2rem;
}

.dollar-sign{
  font-size: 2.4rem;
  display: inline-block;
}

.amount{
  border: 0;
  font-size: 2.4rem;
  background: transparent;
  text-align: center
}

input:focus{
  outline: none;
}

.show-rate{
  font-size: 1.6rem;
  margin-top: 0.6rem;
  padding: 1rem;
}

.amount-section{
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*-- history-rate --*/
.history-rate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-title{
  font-size: 2rem;
  padding: 1rem;
  font-weight: 500;
}

.getDate{
  margin: 2rem 0;
  padding: 0.7rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.show-history-rate-left,
.show-history-rate-right{
  margin: 0.5em;
  font-size: 1.6rem;
  display: none;
}

.show-rate{
  display: block;
}

.check-btn{
  font-size: 1.6rem;
  padding: 1rem;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  background: white;
  box-shadow: 0px 5px 15px rgba(224, 224, 224, 0.5);
  margin-bottom: 1rem;
  cursor: pointer;
}

.notice{
  font-size: 1.3rem;
  color: red;
  font-weight: 600;
}



/*-- Responsive Area --*/
@media screen and (max-width: 768px){
  .option-area{
    display: block;
  }

  #rotate{
    background-image: url('./image/up-down-arrow.png');
    display: block;
    margin: 1rem auto;
  }
  /* 將隱藏選單寬度修正為跟顯示區相等 */
  .left-options-wrapper,
  .right-options-wrapper{
    width: calc(100% - 20px)
  }
}

/* @media screen and (max-width: 570px){
  .amount-wrapper{
    font-size: 0.8em;
  }
} */

@media screen and (max-width: 425px){
  /* header{
    padding: 1em;
  }

  .option-area{
    display: block;
  }

  #rotate{
    background-image: url('./image/up-down-arrow.png');
    margin: 2.5em auto 0em auto;
    display: flex;
    justify-content: center;
  }

  .display-left-option,
  .display-right-option,
  .left-options-wrapper,
  .right-options-wrapper{
    width: calc(100%)
  }

  .amount-wrapper{
    font-size: 1em;
  } */
}

@media screen and (max-width: 320px){
  header{
    padding: 1rem 0.5rem;
  }

  .nav-list{
    padding: 0.5rem;
  }

  .amount,
  .dollar-sign{
    font-size: 2rem;
  }

  .amount-wrapper{
    padding: 1rem 0 1rem 1rem;
  }

  .history-title{
    font-size: 1.65rem;
  }
}